<div>
    <div class="search" >
       <input type="text" ng-model="query">
       
       <button type="submit">Search</button>
   </div>
    <div class="hotel-container" ng-repeat="hotel in $ctrl.hotels| filter: query" >
       <a ng-href="#!hotel/{{hotel.id}}">
       <img id="img" ng-src="{{ hotel.imagePath}}">
       <h3 id="hotel-name">{{hotel.name}}</h3>
       <p id="hotel-address">{{hotel.address}}</p>
       <p id="price">{{hotel.price| currency:"INR₹"}}</p>
    </a>
    </div>
 </div>